# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PlatformIO
.pio/
.piolibdeps/
.pioenvs/
.clang_complete
.gcc-flags.json
platformio.ini.save
libdeps/
build/

# VS Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini